<h1>Pages#about</h1>
<p>Hi there, I'm Max!</p>

<ul>
  <li>Learning Ruby (and soon rails) via "The Odin project"</li>
  <li>Decent fellow to work with(so they say)</li>
  <li>Got The best dog ever, named Maya</li>
  <li>Guilty pleasure is 40k lorebooks</li>
</ul>
